@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$nav_font : "Lato";
$nav_color: rgb(99, 99, 99);
$nav_size: 2rem;
$nav_weight: 550;

$nav_hover_color: rgb(18, 17, 17);
$nav_hover_size: 2.2rem;

$logo_font: "Lato";
$logo_weight: 700;
$logo_color: rgb(0, 0, 0);
$logo_size: 3rem;